{% load static %}
{% comment %} {% load cache %} {% endcomment %}
{% comment %} {% cache timeout cache_key dynamic_var %}{% endcache %} {% endcomment %}



<!DOCTYPE html>
<html>
    <head>
        <title>Jira Tasks</title>
        <meta http-equiv="refresh" content="3600"> 

        <link rel="stylesheet" type="text/css" href="{% static 'css/jira.css' %}">
        <link rel="shortcut icon" href="{% static 'images/prime_source.png' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    <body>
        <nav>
            <div class="welcome">
                <img src="{{ avatar }}">
                <h3>{{ fullname }}</h3>
            </div>

            <div id="loading" style="display: none;">
                <div class="spinner"></div>
            </div>

            <div class="filter">
                <label>Фильровать по:</label>
                <select id="clients">
                    <option value='-1'>Все</option>
                    {% for values in list_of_clients %}
                        {% ifchanged %}
                            <option value="{{ values.1 }}"> 
                                {{ values.0 }}
                            </option>
                        {% endifchanged %}  
                    {% endfor %}
                </select>
            </div>

            <div class="auto_reload">
                <label>Автообновление:</label>
                <select id="auto_reload">
                    <option value="0">Выкл</option>
                    <option value="1">1 мин</option>
                    <option value="5">5 мин</option>
                    <option value="10">10 мин</option>
                    <option value="30">30 мин</option>
                    <option value="60">1 час</option>
                    <option value="120">2 часа</option>
                </select>
            </div>
            
            <div class="buttons">
                <button><a href="\">Выйти</a></button>
            </div>
        </nav>

        <div class="content" id="tasks-content"> </div>
        
        <script>
            $(document).ready(function() {
                function updateTasks() {
                    $.ajax({
                        url: '/board/',
                        data: { 
                            'client': selectedClient,
                        },
                        type: 'GET',
                        success: function(data) {
                            $('#tasks-content').html(data.html);
                            $('#loading').hide();
                            console.log('[load]', selectedClient);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $('#loading').hide();
                            console.log('HTTP status code:', jqXHR.status);
                            console.log('HTTP status text:', jqXHR.statusText);
                            console.log('errorThrown', errorThrown);
                        }
                    });    
                }

                var selectedClient = $('#clients').val();
                console.log('[take]', selectedClient);
                $('#loading').show();
                updateTasks();

                $('#clients').on('change', function() {
                    selectedClient = $(this).val();
                    console.log('[change]', selectedClient);
                    $('#loading').show();
                    $('#tasks-content').html('');
                    updateTasks();
                });
    
                $('#auto_reload').on('change', function() {
                    var auto_reload = $(this).val();
                    console.log('[auto_reload]', auto_reload);
                    if (auto_reload == 0) {
                        clearInterval(window.timer);
                    } else {
                        window.timer = setInterval(function() {
                            $('#loading').show();
                            $('#tasks-content').html('');
                            updateTasks();
                        }, auto_reload * 60000);
                    }
                });
            });

        </script>
    </body>
</html>