{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Jira Tasks</title>
        <meta http-equiv="refresh" content="600">

        <link rel="stylesheet" type="text/css" href="{% static 'css\jira.css' %}">
        <link rel="shortcur icon" href="{% static 'images\prime_source.png' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    
    <body>
        <nav>
            <div class="welcome">
                <img src="{{ avatar }}">
                <h3>{{ fullname }}</h3>
            </div>

            <div class="filter">
                <label>Фильровать по:</label>
                <select id="clients">
                    <option value="0">Все</option>
                    {% for values in list_of_clients %}
                        {% ifchanged %}
                            <option value="{{ values }}"> 
                                {{ values }}
                            </option>
                        {% endifchanged %}  
                    {% endfor %}
                </select>
            </div>
            
            <div class="buttons">
                <button><a href="\">Выйти</a></button>
            </div>
        </nav>

        <div class="content" id="tasks-content"> </div>
        
        <script>
            $(document).ready(function() {
                function updateTasks() {
                    var selectedClient = $('#clients').val();
                    var selectedPrior = $('#prior').val();
    
                    $.ajax({
                        url: '/board/',
                        data: { 
                            'client': selectedClient,
                            'prior': selectedPrior 
                        },
                        dataType: 'json',
                        success: function(data) {
                            $('#tasks-content').html(data.html);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log('HTTP status code:', jqXHR.status);
                            console.log('HTTP status text:', jqXHR.statusText);
                            console.log('errorThrown', errorThrown);
                        }
                    });
                }
    
                updateTasks();
    
                $('#clients, #prior').change(function() {
                    updateTasks(); 
                });
            });
        </script>
    </body>
</html>